//Gradient

@use '../custom' as *;

@mixin gradient {
    //background: linear-gradient(to right, rgba($primary,0.85),rgba($secondary,0.95));


    background-color:hsla(324, 23%, 41%, 0.4);
    background-image:
    radial-gradient(at 8% 96%, rgb(193, 165, 141) 0px, transparent 50%),
    radial-gradient(at 62% 57%, rgb(99, 120, 124) 0px, transparent 50%),
    radial-gradient(at 55% 96%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 90% 39%, rgb(39, 29, 42) 0px, transparent 50%),
    radial-gradient(at 85% 93%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 20% 46%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(95, 78, 83) 0px, transparent 50%);
}




@mixin gradient-initial($color1, $color2, $color3, $angle: 45deg) {
    background: linear-gradient($angle, $color1, $color2, $color3);
  }
  



//Absolute center

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 53.5%;
    transform: translate(-50%, -50%);
}

